<div class="card">
  <div class="card__inner">
    <app-badge *ngIf="discount">
      <span i18n="sale">
        Скидка
        {{ discount | percent }}
      </span>
    </app-badge>
    <figure class="card__image">
      <img [src]="product.image" alt="Phone image" />
    </figure>
    <div class="card__company">{{ product.company }}</div>
    <h2 class="card__title">{{ product.title }}</h2>
    <app-rating [rating]="product.rating?.value"></app-rating>
    <div class="card__price" *ngIf="!discount">
      {{ price }}
      {{ currency }}
    </div>
    <div class="card__price _discount" *ngIf="discount">
      {{ priceWithDiscount }}
      {{ currency }}
      <s> {{ price }} </s>
    </div>
    <div class="card__actions">
      <app-button
        i18n-text
        text="Добавить в корзину"
        (clicked)="addProductInCart(product)"
      ></app-button>
      <app-button-icon
        [isActive]="isFavorite"
        (click)="onToggleFavorite()"
      ></app-button-icon>
    </div>
  </div>
</div>
