<div class="stars">
  <input type="radio" id="rate5" value="5" [attr.checked]="isChecked(5)" readonly /><label for="rate5"></label>
  <input type="radio" id="rate4" value="4" [attr.checked]="isChecked(4)" readonly /><label for="rate4"></label>
  <input type="radio" id="rate3" value="3" [attr.checked]="isChecked(3)" readonly /><label for="rate3"></label>
  <input type="radio" id="rate2" value="2" [attr.checked]="isChecked(2)" readonly /><label for="rate2"></label>
  <input type="radio" id="rate1" value="1" [attr.checked]="isChecked(1)" readonly /><label for="rate1"></label>
</div>
