<div class="products">
  <app-toggle
    [options]="filterOptions"
    [value]="activeFilter"
    [onChange]="changeFilter"
  ></app-toggle>
  <p *ngIf="!filteredProducts.length" i18n="empty catalog">
    Список товаров пуст
  </p>
  <ul *ngIf="filteredProducts.length" class="products_list">
    <li *ngFor="let product of filteredProducts" class="products_card">
      <app-card
        [product]="product"
        [addProductInCart]="addProductInCart"
        [routerLink]="['/catalog', product.id]"
      ></app-card>
    </li>
  </ul>
</div>
