.badge {
  position: absolute;
  top: 24px;
  left: 24px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.005em;
  color: #fff;
  display: inline-block;
  padding: 6px 8px;
  border-radius: 4px;
  background-color: #ff3366;
}
